<!DOCTYPE html>
<html lang="ru" class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <title>Отвечаем на вопросы</title>
    <div th:replace="header :: header-resources"/>

</head>
<body>

<div th:replace="header :: header" />
    <!-- форма с ответами на вопросы
        - форма:
          - поле с текстом темы (выгружаем из темы)
          - счетчик: номер вопроса / всего вопросов
          - поле с текстом вопроса (выгружаем вопрос по теме)
          - поля с ответами (выгружаем по вопросу)
          - кнопка "Далее -> " - если вопрос последний - показать кнопку "результат"

    -->
    <form class="container" th:method="post" th:action="@{/results}" >
        <label class="topic" th:text="${topicName}"> </label>
        <p />
        <div th:if="${allQuestion > 1}">
            <span th:each="i : ${#numbers.sequence(1, allQuestion)}">
                <a th:if="${counter != i}" th:href="@{'/answers/' + ${i}}">[[${i}]]</a>
                <span th:unless="${counter != i}" >[[${i}]]</span> &nbsp; &nbsp;
            </span>


        <p />
        <div>
            <label>Номер вопроса: </label><label class="counter" th:text="${counter}"></label>
            <label>  Всего вопросов: </label><label class="allQuestion" th:text="${allQuestion}"></label>
        </div>
        <p />
        <p />
        <div>
            <!--textarea class="next-question" th:text="${nextQuestion}" readonly="true"></textarea-->
            <ul>
                <li class="question" th:each="question, stat : *{qList}">
                    <textarea class="next-question" th:text="*{qList[__${stat.index}__].name}" readonly="true"></textarea>
                </li>
            </ul>

        </div>
        <p />
        <p />
        <div  th:object="${uAnswers}">
            <ul >
                <li  th:each="answer, stat : *{answers}">
                    <div style="border: gray solid 1px; border-radius: 4px; width: 400px">
                        <!--label th:text="*{answerList[__${stat.index}__].getName()}"/>
                        <input th:object="${resultMap}" type="checkbox"
                        th:checked="${com.example.question.controller.AnswerController.setChange(*{answerList[__${stat.index}__].getId()})}" /-->

                        <label th:text="*{answers[__${stat.index}__].getName()}"/>
                        <input th:field="*{answers[__${stat.index}__].userAnswer}" type="checkbox" />
                    </div>
                </li>
            </ul>
        </div>
        </div>
        <button class="btn" th:object="${uAnswers}" th:action="@{/results}" th:text="Результат" type="submit"></button>
    </form>


    </form>







<div th:replace="header :: footer" />
</body>
</html>