<!DOCTYPE html>
<html lang="ru" class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <title>Отвечаем на вопросы</title>
    <div th:replace="header :: header-resources"/>

</head>
<body>

<div th:replace="header :: header" />
    <!-- форма с ответами на вопросы
        - форма:
          - поле с текстом темы (выгружаем из темы)
          - счетчик: номер вопроса / всего вопросов
          - поле с текстом вопроса (выгружаем вопрос по теме)
          - поля с ответами (выгружаем по вопросу)
          - кнопка "Далее -> " - если вопрос последний - показать кнопку "результат"

    -->
    <form class="container" th:method="post" th:object="${answerListMap}">
        <fieldset>
        <h2 class="topic" th:text="${topicName}"> </h2>
        <p />
        <!--div th:if="${allQuestion > 1}">
            <span th:each="i : ${#numbers.sequence(1, allQuestion)}">
                <a th:if="${counter != i}" th:href="@{'/answers/' + ${i}}">[[${i}]]</a>
                <span th:unless="${counter != i}" >[[${i}]]</span> &nbsp; &nbsp;
            </span>


        <p /-->
        <!--div>
            <label>Номер вопроса: </label><label class="counter" th:text="${counter}"></label>
            <label>  Всего вопросов: </label><label class="allQuestion" th:text="${allQuestion}"></label>
        </div-->
        <p />
        <p />
        <div >
            <ul>

                <li class="question" th:each="question, stat : ${allItems}"
                                     th:with="newQuest=${answerListMap.entrySet()}, newSet=${answerListMap.keySet()}">
                    <textarea class="next-question" th:field="*{keySet()[__${stat.index}__].name}"
                                                    th:text="${question.key.getName()}" readonly="true" ></textarea>
                    <div >
                        <ul>
                            <li  th:each="ans, stat2 :${question.value}">
                                    <label th:field="${newQuest[__${stat.index}__].value[__${stat2.index}__].id}"
                                           th:text="${question.value[__${stat2.index}__].getId()}"
                                    />

                                    <label th:field="${newQuest[__${stat.index}__].value[__${stat2.index}__].name}"
                                           th:text="${question.value[__${stat.index}__].getName()}"
                                    />

                                    <input th:field="${newQuest[__${stat.index}__].value[__${stat2.index}__].userAnswer}"
                                           th:value="${question.value[__${stat.index}__].userAnswer}" type="checkbox" />
                            </li>
                            <p />
                            <p />

                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <button class="btn" th:text="Результат" type="submit"></button>
        </fieldset>
    </form>







<div th:replace="header :: footer" />
</body>
</html>