<!DOCTYPE html>
<html lang="ru" class="no-js" >
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Вопросы и ответы {{some}}</title>

        <!--link rel="shortcut icon" href="../favicon.ico"-->
		<link rel="stylesheet" type="text/css" href="./css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="./css/demo.css" />
		<link rel="stylesheet" type="text/css" href="./css/component.css" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
		<script src="./js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<!--li class="gn-search-item">
									<input placeholder="Search" type="Поиск" class="gn-search">
									<a class="gn-icon gn-icon-cog"><span></span></a>
								</li-->
								<li>
									<a class="gn-icon gn-icon-download" href="newform">Создать новую форму</a>
									<!--ul class="gn-submenu"--> <!-- Подменю оставил пока вдруг пригодится-->
										<!--li><a class="gn-icon gn-icon-cog"></a></li>
									</ul-->
								</li>
								<li><a class="gn-icon gn-icon-cog">Настройки</a></li>
								<li><a class="gn-icon gn-icon-help">Помощь</a></li>
								<li><a class="gn-icon gn-icon-archive">О проекте</a>
									<ul class="gn-submenu">
										
									</ul>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="#">Логин</a></li>
				
			</ul>
			<header>
				<!--h1>Вопросы и ответы<span>Для создания новой формы используйте меню слева <a href=""></a></span></h1-->
			</header> 
		</div><!-- /container -->
		<script src="./js/classie.js"></script>
		<script src="./js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
		
		<form method="get" action="main">
			<div>
				<h2>Введите свою почту и пароль для входа</h2>
			</div>
			<div>
				<p><span>Ваш логин</span><input type="text" name="login" value="" placeholder="Email"></p>
				<p><span>Ваш пароль</span><input type="password" name="password" value="" placeholder="Password"></p>
			</div>
			<div>
				<button type="submit" method="post" href="main">Авторизация</button>
			</div>
			<div>
				<p>Возможно вы не зарегистрированы! <a href="registration">Нажмите сюда для регистрации!</a>.</p>
				<p>Вы забыли пароль, не расстраивайтесь <a href="#">Нажмите сюда чтобы сбросить пароль</a>.</p>
			</div>
		</form>
	
	</body>
</html>