<!DOCTYPE html>
<html lang="ru" class="no-js"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Авторизация</title>
		<div th:replace="header :: header-resources"/>
	</head>
	<body>

		<sec:authorize access="isAuthenticated()">
			<% response.sendRedirect("/main"); %>
		</sec:authorize>
		<!--/*@thymesVar id="guestname" type="guestname"*/-->
		<div th:replace="header :: header" />
		<form method="POST" action="/authorized">
			<div>
				<h2>Введите свой логин и пароль для входа</h2>
			</div>
			<div>
				<p><label for="username">Логин</label>:
					<input id="username"
						   name="username"
						   type="text"
						   placeholder="Username"
						   autofocus="true">
				</p>

				<p><label for="password">Пароль</label>:
					<input  id="password"
							type="password"
							name="password"
							placeholder="type your password here" />
				</p>
			</div>
			<div>
				<button type="submit">Авторизация</button>
				<!--h4><a href="registration.html">Зарегистрироваться</a></h4-->
			</div>
		</form>

		<div th:replace="header :: footer" />
	</body>
</html>