<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="header :: header-resources"/>
</head>
<body>
    <!--/*@thymesVar id="guestname" type="guestname"*/-->
    <li class="nav-item"  sec:authorize="isAuthenticated()" >

    <div th:replace="header :: header"/>

    <div class="panel panel-primary">
    <img src="..." class="rounded mx-auto d-block" alt="photoLk">
        <h1 class="text-center">
            <a style="color: black;" href="/edit">${guestname}</a>
        </h1>
    </div>
    <div th:replace="header :: footer"/>
    <div sec:authentication=""></div></a>
    </li>
</body>
</html>