<!DOCTYPE html>
<html lang="ru" class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <div th:fragment="header-resources">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- this is header-css -->
        <link rel="stylesheet"  href="./css/normalize.css" />
        <link rel="stylesheet"  href="./css/demo.css" />
        <link rel="stylesheet"  href="./css/component.css" />
        <link rel="stylesheet"  href="./css/style.css" />
        <script  src="./js/modernizr.custom.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>

    </div>
</head>
<body>

    <div th:fragment="header">
    <!-- this is header -->
        <div class="container">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller">
                            <ul class="gn-menu">
                                <!--li class="gn-search-item">
                                    <input placeholder="Search" type="Поиск" class="gn-search">
                                    <a class="gn-icon gn-icon-cog"><span></span></a>
                                </li-->
                                <li><a class="gn-icon gn-icon-earth" href="/cabinet">Личный кабинет</a></li>
                                <li>
                                    <a class="gn-icon gn-icon-download" href="newform">Создать новую форму</a>
                                    <!--ul class="gn-submenu"--> <!-- Подменю оставил пока вдруг пригодится-->
                                    <!--li><a class="gn-icon gn-icon-cog"></a></li>
                                </ul-->
                                </li>
                                <li><a class="gn-icon gn-icon-download" href="form">Тесты</a></li>
                                <li><a class="gn-icon gn-icon-cog">Настройки</a></li>
                                <li><a class="gn-icon gn-icon-help">Документация</a></li>
                                <li><a class="gn-icon gn-icon-archive">О проекте</a>
                                    <ul class="gn-submenu">

                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /gn-scroller -->
                    </nav>
                </li>



                <li><a href="/">на главную</a></li>
                <li sec:authorize="isAuthenticated()">
                    Authenticated username:
                    <div sec:authentication="name"></div>
                    Authenticated user roles:
                    <div sec:authentication="principal.authorities"></div>
                </li>

                <li sec:authorize = "!isAuthenticated()">
                    <a href="/authorized" >Войти</a>
                </li>
                <li><a href="/registration">Зарегистрироваться</a></li>
                <li sec:authorize = "isAuthenticated()">
                    <h4><a href="/main">Выйти</a></h4>

                </li>

            </ul>

<!--            <header>-->
<!--                <h1>Вопросы и ответы<span>Для создания новой формы используйте меню слева <a href="#"></a></span></h1>-->
<!--           </header>-->
        </div><!-- /container -->
        <script src="./js/classie.js"></script>
        <script src="./js/gnmenu.js"></script>
        <script>
            new gnMenu( document.getElementById( 'gn-menu' ) );
        </script>
    </div>







    <div th:fragment="footer">
        <div class="container">
            <footer>
            </footer>
        </div>
    </div>

</body>
</html>