<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="Testing">Title</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		  crossorigin="anonymous">
	<!-- SCRIPTS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>

		<div th:replace="header :: header-resources"/>
	</head>
	<body>

	<div th:replace="header :: header" />

	<form class="newform" method="post" modelAttribute="nForm" th:object="${nAnswers}">
		<fieldset>
		<div>
			<input name="name" style="width: 400px"type="text"  placeholder="Новая Тема" onchange="">
			<img id="check" style="width: 15px; height: 15px" th:src="@{/images/green-check.jpg}" />
		<script>
			$(document).ready(function() {
				$("#check").click(function() {
					$("#question_field").toggle();
				});
			});
		</script>
		</div>
		<div id="question_field">
				<p>Введите вопрос</p>
			<textarea name="qname" style="width: 400px; height: 150px" modelAttribute="nQuestion"></textarea>
			<img id="check2" style="width: 15px; height: 15px" th:src="@{/images/green-check.jpg}" />
			<script>
				$(document).ready(function() {
					$("#check2").click(function() {
						$("#answer_field").toggle();
						$("#save").toggle();
					});
				});
			</script>
		</div>

		<!--th:field="*{answers[__${stat.index}__].name}"-->
		<div id="answer_field">
			<p>Введите ответы, и укажите галочкой правильные</p>
			<ul >
				<li  th:each="answer, stat : *{answers}">
					<div style="border: gray solid 1px; border-radius: 4px; width: 400px">
						<input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px"
							   type="text"
							   placeholder="Новый ответ"
							   th:field="*{answers[__${stat.index}__].name}"/>
						<input th:field="*{answers[__${stat.index}__].properly}" type="checkbox" />
						<img id="c1" style="width: 15px; height: 15px; margin-right: 5px "
							 th:src="@{/images/green-check.jpg}"/>
					</div>
				</li>
					<!--script>
					$(document).ready(function() {
						$("#c1").click(function() {
							$("#a2").toggle();$("#save").toggle();
						});
					});
					</script-->

				<!--li id="a2"><div style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input modelAttribute="isTrue" type="checkbox"><img id="c2" style="width: 15px; height: 15px; margin-right: 5px" th:src="@{/images/green-check.jpg}" /></div></li>
				<script>
					$(document).ready(function() {
						$("#c2").click(function() {
							$("#a3").toggle();

						});
					});
				</script>
				<li id="a3"><div style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input modelAttribute="isTrue" type="checkbox"><img id="c3" style="width: 15px; height: 15px; margin-right: 5px" th:src="@{/images/green-check.jpg}" /></div></li>
				<script>
					$(document).ready(function() {
						$("#c3").click(function() {
							$("#a4").toggle();
						});
					});
				</script>
				<li id="a4"><div style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input modelAttribute="isTrue" type="checkbox"><img id="c4" style="width: 15px; height: 15px; margin-right: 5px" th:src="@{/images/green-check.jpg}" /></div></li>
				<script>
					$(document).ready(function() {
						$("#c4").click(function() {
							$("#a5").toggle();
						});
					});
				</script>
				<li id="a5"><div style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input modelAttribute="isTrue" type="checkbox"><img id="c5" style="width: 15px; height: 15px; margin-right: 5px" th:src="@{/images/green-check.jpg}" /></div></li>
				<script>
					$(document).ready(function() {
						$("#c5").click(function() {
							$("#a6").toggle();
						});
					});
				</script>
				<li id="a6"><div style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input modelAttribute="isTrue" type="checkbox"><img id="c6" style="width: 15px; height: 15px; margin-right: 5px" th:src="@{/images/green-check.jpg}" /></div></li>
				<script>
					$(document).ready(function() {
						$("#c6").click(function() {
							alert("Больше 6 ответов нельзя!");
						});
					});
				</script-->
			</ul>
		</div>
		<div>
			<button id="save" type="submit" href="/main">Сохранить</button>
			<button type="cancel" href="main">Отмена</button>
		</div>
		</fieldset>
	</form>

	<div th:replace="header :: footer" />
</body>
</html>