<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="Testing">Title</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		  crossorigin="anonymous">
	<!-- SCRIPTS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>

		<div th:replace="header :: header-resources"/>
	</head>
	<body>
	<div th:replace="header :: header" />

	<form class="newform" method="post" modelAttribute="nForm">
		<div>
			<input name="name" style="width: 400px"type="text"  placeholder="Новая Тема">
		</div>
		<div>
				<p>Введите вопрос</p>
				<textarea name="qname" style="width: 400px; height: 150px" modelAttribute="nQuestion"></textarea>
		</div>

			
		<div>
			<p>Введите ответы, и укажите галочкой правильные</p>
			<ul>
				<!--li><form><input type="text" placeholder="Новый ответ"><input type="checkbox"></form></li-->

				<li><fieldset style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input modelAttribute="isTrue" type="checkbox"></fieldset></li>
				<li><fieldset style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input type="checkbox"></fieldset></li>
				<li><fieldset style="border: gray solid 1px; border-radius: 4px; width: 400px"><input style="border: darkgreen solid 1px; border-radius: 4px; width: 360px" type="text" modelAttribute="answer" placeholder="Новый ответ"><input type="checkbox"></fieldset></li>
			</ul>
		</div>
		<div>
			<button type="submit" href="main">Сохранить</button>
			<button type="cancel" href="main">Отмена</button>
		</div>
	</form>

	<div th:replace="header :: footer" />
</body>
</html>