<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--th:with="lang=${#locale.language}" th:lang="${lang}"-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>List of topics</title>
    <!--title th:text="Testing">Title</title-->

    <div th:replace="header :: header-resources"/>
</head>


</head>
<body>
    <div th:replace="header :: header" />
    <div class="container" >
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Timestamp</th>
            </tr>
            <tr th:each="topic : ${forms}">
                <td th:text="${topic.id}"></td>
                <td th:text="${topic.name}"></td>
                <td th:text="${topic.data}"></td>
            </tr>
        </table>
    </div>

    <div th:replace="header :: footer" />
</body>
</html>